freefield_toolbox/__pycache__/
freefield_toolbox/.pytest_cache/
freefield/__pycache__/
freefield/tests/__pycache__/
/.idea
/log/
freefield/level_calibration_dome.npy
freefield/frequency_calibration_dome.npy
*.npy
freefield/shape_predictor_68_face_landmarks.dat
/data/log/*
*.pkl