freefield_toolbox/__pycache__/
freefield/__pycache__/
test/__pycache/
/.idea
/log/
freefield/level_calibration_dome.npy
freefield/frequency_calibration_dome.npy
*.npy
freefield/shape_predictor_68_face_landmarks.dat
